<% include ../header %>

<header>
	<h1>Ntalk</h1>
	<h4>Bem-vindo!</h4>
</header>

<section>
	40
	E-book gerado especialmente para Renan Siravegna Moreira - renan.siravegna@gmail.comCasa do Código Capítulo 4. Iniciando com o Express
	<form action="/entrar" method="post">
		<input type="text" name="usuario[nome]" placeholder="Seu nome">
		<br>
		<input type="text" name="usuario[email]" placeholder="Seu e-mail">
		<br>
		<button type="submit">Entrar</button>
	</form>
</section>

<% include ../footer %>